In [5]:
import pandas as pd
import numpy as np

In [6]:
import os
print(os.getcwd())
print(os.path.exists("../1_data/housePrice (1).csv"))

c:\Users\DELL\Documents\HousePricingProject[1]\03_notebooks
True

In [7]:
import pandas as pd
#data loading
train_df = pd.read_csv("../1_data/housePrice (1).csv")

In [8]:
#visual inspection of the data
train_df.head()

,Area,Room,Parking,Warehouse,Elevator,Address,Price,Price(USD)
0,63,1,True,True,True,Shahran,1850000000,61666.67
1,60,1,True,True,True,Shahran,1850000000,61666.67
2,79,2,True,True,True,Pardis,550000000,18333.33
3,95,2,True,True,True,Shahrake Qods,902500000,30083.33
4,123,2,True,True,True,Shahrake Gharb,7000000000,233333.33

In [9]:
#understanding the dimensions of the data
train_df.shape

(3479, 8)

In [10]:
#getting a concise summary of the dataframe(columns, data types, missing values)
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3479 entries, 0 to 3478
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Area        3479 non-null   object
 1   Room        3479 non-null   int64
 2   Parking     3479 non-null   bool
 3   Warehouse   3479 non-null   bool
 4   Elevator    3479 non-null   bool
 5   Address     3456 non-null   object
 6   Price       3479 non-null   int64
 7   Price(USD)  3479 non-null   float64
dtypes: bool(3), float64(1), int64(2), object(2)
memory usage: 146.2+ KB

In [15]:
#identifying the target variable
target = "Price"
"Price" in train_df.columns

True

In [16]:
#separating features and target variable
x= train_df.drop("Price", axis=1)
y = train_df["Price"]
x.shape, y.shape

((3479, 7), (3479,))

In [17]:
#missing values in the dataset overview
train_df.isnull().sum().sort_values(ascending=False).head(10)

Address       23
Area           0
Parking        0
Room           0
Warehouse      0
Elevator       0
Price          0
Price(USD)     0
dtype: int64

In [18]:
#feature types in the dataset
train_df.select_dtypes(include= 'object').columns

Index(['Area', 'Address'], dtype='object')

In [19]:
train_df.select_dtypes(exclude= 'object').columns

Index(['Room', 'Parking', 'Warehouse', 'Elevator', 'Price', 'Price(USD)'], dtype='object')